<!DOCTYPE html>
<html>
<head>
	<title>Social Network</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="js/bootstrap.min.js"></script>
	<script src="jquery-3.3.1.min.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>