<img height ="100" width="100" src="{{imgURL}}">
<h3 style="display:inline;">{{name}}</h3>

<ul class="people_list">
<li><a href="notFriends">People you may know</a></li>

<li><a href="friends">your Friends</a></li>

<li><a href="yourRequest">your Requests</a></li>

<li><a href="friendRequests">friend requests</a></li>
</ul>